.nav-color {
  background-color: #31393c;
}

.nav-links-style {
  /* color: #f26419; */
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links-style:hover {
  display: block;
  transform: scale(1.1);
  text-shadow: 1px 1px black;
}

.ep-tabs {
  color: black;
  background-color: #f26419;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black !important;
  background-color: #b14b14 !important;
  border-color: #b14b14 !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  color: black !important;
  border-color: #f26419 !important;
}
.nav-tabs {
  border-bottom: 2px solid #8d3d12 !important;
}

.monTotal {
  font-weight: bold;
  color: #718599;
}

.appDate {
  height: 3.5vh;
  overflow: hidden;
  background-color: #495057;
}

.deleteEdit {
  background-color: #576777 !important;
  border-color: #576777 !important;
}

.deleteEdit:focus {
  background-color: #d3d3d3;
  border: none;
}

.handAlign {
  line-height: 20px;
  vertical-align: top;
}

.borderRight {
  border-right: 1px solid black;
}

.yearButton {
  cursor: pointer;
  background-color: #b14b14 !important;
  color: black !important;
  border: 1px solid #b14b14;
  border-radius: 4px;
}

.yearButtonActive {
  cursor: pointer;
  background-color: black !important;
  color: #b14b14 !important;
  border: 1px solid #b14b14;
  border-radius: 4px;
}
